span { /* idが優先 */
  display: inline-block;
  width: 100px;
  height: 400px;
  background-color: magenta;
}

.cls { /* 優先 */
  display: inline-block;
  width: 100px;
  height: 400px;
  background-color: gray;
}
